@import url(./nullstyle.scss);
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Poppins:ital,wght@0,700;1,700&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
}
h1 {
  font-size: 64px;
  font-weight: 700;
  line-height: 120%;

  max-width: 470px;
}
h2 {
  color: #000;
  font-size: 36px;
  font-weight: 700;
  line-height: 120%;
}
a {
  text-decoration: none;
  color: black;
}
p {
  color: #000;

  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}
.wrapper {
  min-height: 100vh;
  overflow: hidden;

  display: flex;
  flex-direction: column;
}
.container {
  margin: 0 auto;
  max-width: 1440px;
}
.content {
  flex: 1 1 auto;
}
