@import url(./nullstyle.scss);
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Poppins:ital,wght@0,700;1,700&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
}
a {
  text-decoration: none;
  color: black;
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.container {
  margin: 0 auto;
  max-width: 1440px;
}
